<footer class="margin-footer">
  <div class="main-footer">
    <div class="col">
      <div class="up-footer">
        <h5><strong>SELECT * FROM devs WHERE tech-lover = true;</strong></h5>
      </div>
    </div>
    <hr />
    <div class="down-footer">
      <div class="row">
        <div class="col">
          <!-- Informações do Rudolf -->
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=554797635129&text=Ol%C3%A1%20Joao!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a href="mailto:joaogrudolf@gmail.com?subject=DevSelect"><img src="./assets/_img/email.png" alt="email"/></a>
            <a
              href="https://www.linkedin.com/in/joao-gabriel-rudolf/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/JoaoRudolf" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>João Gabriel Rudolf</p>
          </div>
          <!-- Informações da Julia -->
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=554791451288&text=Ol%C3%A1%20Julia!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a href="mailto:juliapereira.odc@gmail.com?subject=DevSelect"><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/juliajpereira/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/juliajpereira" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Julia Januario Pereira</p>
          </div>
        </div>
        
        <div class="col">
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=5547999345707&text=Ol%C3%A1%20Lucas!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a href="mailto:luucas.chaves@gmail.com?subject=DevSelect"><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/lucas-emanuel-chaves-b5a3971b5/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/chavesluucas" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Lucas Emanuel Chaves</p>
          </div>
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=554788058592&text=Ol%C3%A1%20Paula!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a href="mailto:paulaadrianadacosta@gmail.com?subject=DevSelect"><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/in/paula-adriana-da-costa/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/Paula-Adriana" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Paula Adriana da Costa</p>
          </div>
    
        </div>
  
        <div class="col">
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=554791713281&text=Ol%C3%A1%20Vinicios!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a href="mailto:vinicios.tribess@gmail.com?subject=DevSelect"><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://www.linkedin.com/company/devs2blu/"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://github.com/vinicios-tribess" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Vinicios Pessoa Tribess</p>
          </div>
          <div class="social">
            <a
              href="https://api.whatsapp.com/send?phone=554788514765&text=Ol%C3%A1%20Yuri!"
              target="_blank"
              ><img src="./assets/_img/wpp.png" alt="wpp"
            /></a>
            <a href="mailto:yuri.kollerborba@gmail.com?subject=DevSelect"><img src="./assets/_img/email.png" alt="email" /></a>
            <a
              href="https://LinkedIn.com/in/yuri-koller-borba"
              target="_blank"
              ><img src="./assets/_img/linkedin.png" alt="linkdln"
            /></a>
            <a href="https://GitHub.com/yurikb" target="_blank"
              ><img src="./assets/_img/github.png" alt="linkdln"
            /></a>
            <p>Yuri Koller Borba</p>
          </div>
        </div>
      </div>


    </div>
  </div>
</footer>